<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>THE-RAMES</title>
</head>

<body>
    <style>
        body {
            font: arial;
        }
        header {
            background-color: #03A59F;
        }
        h1 {
            color: #DBDC2A;
        }

    </style>

    <header style="text-align: center;">
        <h1>THE-RAMES</h1>
    </header>

    <main>
        <form method="post" action="/">
            <ul>
                <% for(let rame in rames) { %>
                    <li>
                        <h3><%= rame %></h3>
                        Total de derrames: <input type="text" name="<%= rame %>" value="<%= rames[rame] %>"" />
                    </li>
                <% } %>
            </ul>
            <input type="submit" value="Salvar">
        </form>
    </main>
</body>

</html>